@charset "UTF-8";

:root {
  --color-backkground: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, #root {
  height: 100vh;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  background: var(--color-backkground);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #808080;
}